/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* --first-color: hsl(228, 85%, 63%); */
  --first-color:  #035acb;
  --title-color: hsl(228, 18%, 16%);
  --text-color: hsl(228, 8%, 56%);
  --body-color: hsl(228, 100%, 99%);
  --shadow-color: hsla(228, 80%, 4%, .1);
  --white-color: hsla(240, 100%, 100%, 0.938);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Nunito Sans", system-ui;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--title-color);
  transition: background-color .4s;
}


/* Base Button Styles */
.btn {
  display: inline-block;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none; /* Removes underline for links */
  outline: none;
}

/* Primary Button */
.btn-primary {
  background: var(--first-color);
  color: white;
  margin-bottom:15px;
}

.btn-primary:hover {
  background: hsl(228, 75%, 55%);
}



a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  all: unset;
}

/*=============== VARIABLES DARK THEME ===============*/
body.dark-theme {
  --first-color: hsl(228, 70%, 63%);
  --title-color: hsl(228, 18%, 96%);
  --text-color: hsl(228, 12%, 61%);
  --body-color: hsl(228, 24%, 16%);
  --shadow-color: hsla(228, 80%, 4%, .3);
  --white-color: hsl(228, 24%, 16%);
}

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/
.dark-theme .sidebar__content::-webkit-scrollbar {
  background-color: hsl(228, 16%, 30%);
}

.dark-theme .sidebar__content::-webkit-scrollbar-thumb {
  background-color: hsl(228, 16%, 40%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  margin-inline: 1.5rem;
}

.main {
  padding-top: 5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--z-fixed);
  /* margin: .75rem; */
}

.header__container {
  width: 100%;
  height: var(--header-height);
  background-color: var(--body-color);
  box-shadow: 0 2px 24px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  transition: background-color .4s;
}

.header__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
}

.header__logo i {
  font-size: 1.5rem;
  color: var(--first-color);
}

.header__logo span {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== SIDEBAR ===============*/
.sidebar {
  position: fixed;
  left: -120%;
  top: 0;
  bottom: 0;
  z-index: var(--z-fixed);
  width: 288px;
  background-color: var(--body-color);
  box-shadow: 2px 0 24px var(--shadow-color);
  padding-block: 1.5rem;
  margin: .20rem 0;
  border-radius: 1rem;
  transition: left .4s, background-color .4s, width .4s;
}

.sidebar__container, 
.sidebar__content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.sidebar__container {
  height: 100%;
  overflow: hidden;
}

.sidebar__user {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 1rem;
  padding-left: 2rem;
}

.sidebar__img {
  position: relative;
  width: 50px;
  height: 50px;
  /* background-color: var(--first-color); */
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-items: center;
}

.sidebar__img img {
  position: absolute;
  width: 36px;
  bottom: -1px;
}

.sidebar__info h3 {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  transition: color .4s;
  
}

.sidebar__info span {
  font-size: var(--smaller-font-size);
  max-width: 205px;
  display: inline-block;
}

.sidebar__content {
  overflow: hidden auto;
}

.sidebar__content::-webkit-scrollbar {
  width: .4rem;
  background-color: hsl(228, 8%, 85%);
}

.sidebar__content::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 75%);
}

.sidebar__title {
  width: max-content;
  font-size: var(--tiny-font-size);
  font-weight: var(--font-semi-bold);
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.sidebar__list, 
.sidebar__actions {
  display: grid;
  row-gap: 1.5rem;
}

.sidebar__link {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  column-gap: 1rem;
  color: var(--text-color);
  padding-left: 2rem;
  transition: color .4s, opacity .4s;
}

.sidebar__link i {
  font-size: 1.25rem;
}

.sidebar__link span {
  font-weight: var(--font-semi-bold);
}

.sidebar__link:hover {
  color: var(--first-color);
}

.sidebar__actions {
  margin-top: auto;
}

.sidebar__actions button {
  cursor: pointer;
}

.sidebar__theme {
  width: 100%;
  font-size: 1.25rem;
}

.sidebar__theme span {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

/* Show sidebar */
.show-sidebar {
  left: 0;
}

/* Active link */
.active-link {
  color: var(--first-color);
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: var(--first-color);
}


/*=============== DASHBOARD ===============*/
/* Apply global styles */
#dashboard-section {
  text-align: center;
  padding: 20px;

}





/*=============== Myprojects ===============*/


/* Flex container for cards */
.inspector-card {
  display: flex;
  /* display: none; */
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Inspection Card */
.inspection-card {
  background: var(--body-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color);
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 320px;
  transition: transform 0.2s ease-in-out;
}

.inspection-card:hover {
  transform: scale(1.05);
}

/* Inspection Header */
.inspection-header h2 {
  font-size: var(--normal-font-size);
  color: var(--title-color);
  margin-bottom: 10px;
}

/* Inspection Body */
.inspection-body p {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin: 5px 0;
}

/* Inspect Button */
.inspection-btn {
  background: var(--first-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: background 0.3s;
}

.inspection-btn:hover {
  background: hsl(228, 85%, 53%);
}

.action {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  /* box-shadow: 0 4px 6px -1px rgba(33,150,243,.4),0 2px 4px -2px rgba(33,150,243,.4); */
  /* color: rgb(255 255 255); */
  color: var(--first-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem .1rem;
  /* background-color: rgb(33 150 243); */
  border-radius: 0.5rem;
}

/* Active (when clicked) */
.action:active {
  transform: scale(0.95);
  background-color: rgb(30, 136, 229); /* Slightly darker blue */
  box-shadow: 0 2px 4px -1px rgba(33,150,243,.3), 0 1px 3px -2px rgba(33,150,243,.3);
}



/* Responsive Design */
@media screen and (min-width: 768px) {
  .inspector-card {
      justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  .inspector-card {
      justify-content: center;
      gap: 30px;
  }
}


.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5px 0 15px 0;
  position: relative;
  max-height: 300px;
}


/* Filter Dropdown */
.filter-dropdown {
  display: none;
  position: fixed;
  top: 8rem;
  /* left: 30%;  */
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 15px;
}

/* Filter Header */
.filter-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.close-btn {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

/* Filter Groups */
.filter-group {
  margin: 15px 0;
}

.filter-group label {
  font-size: 14px;
  font-weight: bold;
}

.date-inputs {
  display: flex;
  gap: 10px;
}

.date-inputs input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Dropdowns */
.filter-group select,
.filter-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Action Buttons */
.filter-actions {
  display: flex;
  justify-content: space-between;
}

.reset-btn {
  background: #ccc;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.apply-btn {
  background: blue;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}



/* From Uiverse.io by Shaidend */ 
.InputContainer {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 250px;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--white-color);
  font-size: 0.95em;
  color: var(--title-color);
  /* caret-color: rgb(255, 81, 0); */
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}



.select-label {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

/* Custom Dropdown */
.custom-select {
  position: relative;
  width: 5rem;
}

.custom-select select {
  width: 100%;
  padding: 10px 15px;
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--text-color);
  background: var(--body-color);
  border: 1px solid var(--title-color);
  border-radius: 8px;
  appearance: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Dropdown Arrow */
.select-arrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--title-color);
  pointer-events: none;
}

/* Hover and Focus Effects */
.custom-select select:hover,
.custom-select select:focus {
  border-color: hsl(228, 85%, 50%);
  box-shadow: 0px 4px 8px var(--shadow-color);
}


.myproject-card {
  color: #2e2e2f;
  background-color: var(--white-color);
  padding: .75rem;
  border-radius: 8px;
  /* box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px; */
  margin-bottom: 1rem;
  /* border: 3px dashed transparent; */
  /* border:1px solid rgb(175, 212, 247); */
  /* box-shadow:0px 0px 15px 1px silver; */
  box-shadow: 0 2px 10px var(--shadow-color);

}

/* Hover effect */
/* .myproject-card:hover {
  transform: translateY(-5px);

  border-color: rgba(162, 179, 207, 0.2) !important;
} */

/* Typography */
.myproject-card h2 {
  font-size: 1.2rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  margin-bottom: 10px;
}

.myproject-card p {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin: 5px 0;
}

.myproject-results {
  max-height: 73vh; 
  overflow-y: auto;
  padding: 0 1rem;
  background-color: var(--body-color);
  /* border-top: 2px solid rgba(0, 0, 0, 0.1);  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
  /* Hides scrollbar in Firefox */
  scrollbar-width: none; 
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}

.listofprojectresults {
  max-height: 73vh; 
  overflow-y: auto;
  padding: 0 1rem;
  background-color: var(--body-color);
  /* border-top: 2px solid rgba(0, 0, 0, 0.1);  */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  
  /* Hides scrollbar in Firefox */
  scrollbar-width: none; 
  -ms-overflow-style: none; /* Hides scrollbar in IE/Edge */
}


.myproject-results::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar in WebKit browsers */
.myproject-results::-webkit-scrollbar {
  width: 8px;
}

.myproject-results::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 10px;
}

.myproject-results::-webkit-scrollbar-track {
  background: var(--body-color);
}

/* Responsive */
@media (max-width: 768px) {
  .myproject-card {
      max-width: 100%;
  }
}


/*=============== AUTO RECEIVER ===============*/


/* AUTO RECEIVER Container */
.autoreceiver-container {
  margin-top:30px;
  padding: 20px;
  text-align: center;
  max-height: 80vh; /* Adjust as needed */
  overflow-y: auto;
  overflow-x: hidden;
}


.scananime {
  margin-top: 20px;
  text-align: center;
}

.scanning-bar {
  width: 100px;
  height: 5px;
  background-color: #00bfff;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}

.scanner-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #00ff00;
  animation: scan 2s infinite;
}

#qr-reader{
  display:none;
  position:relative;
  width:30%;
  left:35%;
}

#resultsearchcontainer{
  position:relative;
  left:25%;
  margin-top:20px;
  width:50%;
  box-shadow: 0 2px 24px var(--shadow-color);
  border-radius: 1rem;
}

a{
  cursor:pointer;
}

#startScanner{
display:none
}

#scannerStatus{
  display:none
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
#gusion {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Hide scrollbar in WebKit browsers */
#gusion::-webkit-scrollbar {
  display: none;
}

.trackerheader {
  color: var(--title-color);
  font-weight: bold;
  padding: 15px;
  text-align: left;
  padding-left:20px;
  border-radius: 1rem 1rem 0 0;
}

.tracker-title {
  font-size: 20px;
  font-weight: bold;
}

.tracker-office {
  font-size: 14px;
  margin-top: 5px;
}

.tracker-details {
  padding: 15px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.trackertd {
  text-align: right;
  color: var(--title-color);
  vertical-align: top;
  padding-top:7px;
}

.trackerlabel {
  font-weight: normal;
  padding: 5px;
  color: var(--title-color);
  width: auto;
}

.trackingspecs {
  padding: 5px;
  word-break: break-word;
  color: var(--title-color);
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  font-weight: bold;
}

  .project-team-card {
    background-color: var(--white-color);
    border-radius: 12px;
    /* box-shadow: 0px 8px 16px var(--shadow-color); */
    box-shadow: 0 4px 8px var(--shadow-color);
    padding: 20px;
    /* max-width: 400px; */
    width: 100%;
    margin-top: 2rem;
    /* border:1px solid var(--shadow-color); */

}

.project-team-title {
    margin-bottom: 10px;
    color: var(--title-color);
    font-size: 20px;
    border-bottom: 2px solid var(--title-color);
    padding-bottom: 5px;
}

.project-team-section {
    margin-top: 10px;
}

.project-role {
    font-weight: bold;
    color: var(--title-color);
    margin-top: 10px;
}

.project-members {
    margin-left: 12px;
    color: var(--title-color);
    font-size: 14px;
}

.project-members span {
    display: block;
    margin-top: 3px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .trackerheader {
      font-size: 16px;
      padding: 10px;
  }

  .tracker-title {
      font-size: 22px;
  }

  .tracker-office {
      font-size: 16px;
  }

  .tracker-details {
      padding: 15px;
  }

  .tracker-specs {
    padding: 15px;
}

  table {
      font-size: 14px;
  }
}


/* Scanning line animation */
@keyframes scan {
0% {
  left: -20%;
}
50% {
  left: 100%;
}
100% {
  left: -20%;
}
}




/*=============== TRACKER ===============*/


.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--body-color);
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0 2px 10px var(--shadow-color); */
  /* border: 1px solid var(--shadow-color); */
  border:  1px solid var(--title-color);
  width: 100%;
  max-width: 450px;
  margin: 10px auto;
}

.search-dropdown, .search-input {
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  background: var(--body-color);
  color: var(--title-color);
  outline: none;
  transition: all 0.3s ease;
}

.search-dropdown {
  width: 100px;
  cursor: pointer;
}

.search-input {
  flex: 1;
  min-width: 120px;
}

.search-button {
  /* background: var(--first-color); */
  border: none;
  padding: 12px 16px 12 0px;
  border-radius: 6px;
  cursor: pointer;
  color:  var(--title-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.tracker-results{
  position:relative;
  margin-left:auto;
  margin-right:auto;
  /* margin-top:20px; */
  margin-top:1rem;
  width:500px;
  /* box-shadow: 0 2px 24px var(--shadow-color); */
  /* border-radius: 1rem; */
}

/* Image container for horizontal scrolling */
.image-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
  -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on touch devices */
  scroll-behavior: smooth;
}

/* Hide scrollbar but allow scrolling */
.image-container::-webkit-scrollbar {
  display: none;
}

.image-item {
  width: 100px; /* Slightly larger for better visibility */
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px; /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
}

.image-item:hover {
  transform: scale(1.1); /* Slight zoom effect */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}


/* Modal styles */
.modal-image {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

/* Close button */
.close-image {
  position: absolute;
  top: 15px;
  right: 30px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}



/* Responsive */
@media (max-width: 480px) {
  .search-container {
      /* max-width: 100%; */
      max-width: 350px;
      padding: 8px;
  }

  .search-dropdown, .search-input {
      padding: 10px;
  }

  .search-button {
      padding: 10px 14px;
  }
}



/*=============== INFRA UPLODAER ===============*/

/* Overlay - Fullscreen Background */
.uploader-overlay {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Prevents issues on smaller screens */
}

/* Centered Modal Content */
.uploader-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 450px; /* Desktop Size */
  width: 90%; /* Makes it responsive */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers it perfectly */
  display: flex;
  flex-direction: column;
  gap: 10px;
  animation: fadeIn 0.3s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/* Close Button */
.close-btn {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

/* Labels */
.uploader-content label {
  font-weight: bold;
}

/* Input Fields */
.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Textarea */
textarea.input-field {
  resize: none;
  height: 80px;
}

/* Upload Button */
.upload-btn {
  background-color: #00509E;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  width: 15%;
  font-size: 16px;
  transition: background 0.3s ease;
  margin-left:30%;
}

.upload-btn:hover {
  background-color: #003f7f;
}

/* Video link*/

.videolink{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  margin-top:10px;
}

.uploadpicture-container{
  text-align: left; 
  margin-top: 20px; 
}






/* Make modal fully responsive */
@media (max-width: 480px) { 

  .close-btn {
      font-size: 20px;
  }

  .upload-btn {
      font-size: 14px;
  }

}




/*=============== LOADER ===============*/


.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height:100%;
  text-align: center;
  background-repeat:no-repeat;
  z-index:9999999;
  background-color:rgba(252, 254, 254,.4);
}

.loader-container i {
  position:relative;
  top: 50%;
  /* left: 50%; */
  font-size: 30px;
  color: #00bfff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* Mobile Styles */
@media (max-width: 768px) {

  .content-container {
      padding: 10px;
  }

  #qr-reader{
      width: auto;
      left:0;
  }
  #resultsearchcontainer{
      width:100%;
      left:0;
  }

  #startScanner{
      display:block;
  }

  #scannerStatus{
      display:block;
  }
  .scanning-bar{
      display:none;
  }

  .hideinmobile{
      display:none;
  }

  .tracker-results{
    width: 100%;

  }

  .trackerheader{
    padding-left:5px;
  }

  .trackertd{
    text-align: right;

  }
  .tracker-details{
    padding-left:0px;
  }
  .trackerlabel{
    font-size:15px;
    max-width: 10rem;
  }
  .trackingspecs{
    font-size:15px;
    padding-left:25px;
  }

  /* .uploader-content {
    max-width: 100%;
    width: 90%;
    padding: 20px;
    margin-left:5%;
    margin-top:20%;

  } */
  .uploader-content {
    width: 90%; /* Fixed width on larger screens */
  }

}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media (max-width: 410px) {
  .header__container {
    padding-inline: 1rem;
  }

  /* .sidebar {
    width: max-content;
  }
  .sidebar__info, 
  .sidebar__link span {
    display: none;
  }
  .sidebar__user, 
  .sidebar__list, 
  .sidebar__actions {
    justify-content: center;
  }
  .sidebar__user, 
  .sidebar__link {
    grid-template-columns: max-content;
  }
  .sidebar__user {
    padding: 0;
  }
  .sidebar__link {
    padding-inline: 2rem;
  }
  .sidebar__title {
    padding-inline: .5rem;
    margin-inline: auto;
  } */
  .tracker-results{
    width: 100%;
  }
  .trackerlabel{
    max-width:6.5em;
  }
  .search-container {
    /* max-width: 100%; */
    max-width: 300px;
  }

  .search-dropdown{
    min-width: 4.7em;
    padding:5px;

  } 
  .search-input {
   min-width: 7em;
  }

}

/* For large devices */
@media screen and (min-width: 1150px) {
  .header {
    margin: 1rem;
    padding-left: 340px;
    transition: padding .4s;
  }
  .header__container {
    height: calc(var(--header-height) + 2rem);
    padding-inline: 2rem;
    border-radius: 1rem;
  }
  .header__logo {
    order: 1;
  }

  .sidebar {
    left: 0;
    width: 316px;
    margin: 1rem;
  }
  .sidebar__info, 
  .sidebar__link span {
    transition: opacity .4s;
  }
  .sidebar__user, 
  .sidebar__title {
    transition: padding .4s;
  }

  /* Reduce sidebar */
  .show-sidebar {
    width: 90px;
  }
  .show-sidebar .sidebar__user {
    padding-left: 1.25rem;
  }
  .show-sidebar .sidebar__title {
    padding-left: 0;
    margin-inline: auto;
  }
  .show-sidebar .sidebar__info, 
  .show-sidebar .sidebar__link span {
    opacity: 0;
  }

  .main {
    padding-left: 340px;
    padding-top: 8rem;
    transition: padding .4s;
  }

  /* Add padding left */
  .left-pd {
    padding-left: 114px;
  }
}
